@import "tailwindcss";

@theme {
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
    .font-sans {
        font-family: var(--font-sans);
    }
}

body {
    font-family: var(--font-sans);
    @apply antialiased text-gray-900 bg-white;
}