---
const year = new Date().getFullYear();
---

<footer
    class="py-6 px-8 text-center md:text-left border-t border-[#1F3D36] mt-auto bg-[#0C1A18]"
>
    <div
        class="flex flex-col md:flex-row items-center justify-between gap-4 text-xs text-gray-400"
    >
        <p>© {year} NexOne Dashboard. All rights reserved.</p>
        <div class="flex gap-4">
            <a href="#" class="hover:text-gray-600 transition-colors"
                >Privacy Policy</a
            >
            <a href="#" class="hover:text-gray-600 transition-colors"
                >Terms of Service</a
            >
            <a href="#" class="hover:text-gray-600 transition-colors"
                >Help Center</a
            >
        </div>
    </div>
</footer>
